<html>
  <head>
    <title>Chris Almost's Hex</title>
    <link type="text/css" rel="stylesheet" href="css/hex.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16113437-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <h1>About Hex</h1>

    <p>Player's take turn filling in hexagons with their colour.  The object of
    the game is to connect the opposite sides of your colour.</p>
    <p>For example, if you are red then you are trying to connect the top left
    side to the bottom right side with an unbroken line of red hexagons.  Your
    opponent is trying to stop you, and at the same time trying to connect his
    blue sides.</p>
    <p>Only one of you can win, but one of you will win.  For more information
    and some basic strategy, see the <a href="http://en.wikipedia.org/wiki/Hex_(board_game)">Wikipedia page</a>.</p>
  </body>
</html>
