<html>
  <head>
    <title>Chris Almost's Hex</title>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script type="text/javascript" src="js/raphael-min.js"></script>
    <script type="text/javascript" src="js/hex-board.js"></script>
    <link type="text/css" rel="stylesheet" href="css/hex.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16113437-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body onload="drawBoard('{{ size }}', '{{ state }}', '{{ last }}', '{{ p }}', '{{ m }}');">

    <h1>{{ r_name }} (red) vs. {{ b_name }} (blue)</h1>

    <h2>{{ mesg }}</h2>

    <div id="hex-board"></div>

    <table>
      <tr>
        <td>
          <form action="/move" method="post">
            <input type="hidden" name="hash" value="{{ hash }}" />
            <input type="hidden" name="coords" id="coords" />
            <input type="submit" value="Make this move &raquo;" class="fancy" id="make-move" disabled="true" />
          </form>
        </td>
        <td>
          <form action="/move" method="post" onsubmit="return confirm('Are you sure you want to resign?');">
            <input type="hidden" name="hash" value="{{ hash }}" />
            <input type="hidden" name="coords" value="resign" />
            <input type="submit" value="Resign &raquo;" class="fancy" id="resign" disabled="true" />
          </form>
        </td>
        <td>
          <a class="footer" href="/about">How do I play this game?</a>
        </td>
      </tr>
    </table>

    <script type="text/javascript">openChannel('{{ token }}');</script>
  </body>
</html>
